Basic_Face_Filter_Assets/
Packages/
Assets/_BasicFaceFilter/
_BasicFaceFilter/
TextMesh Pro/
test_BackUpThisFolder_ButDontShipItWithYourGame/
library/
test_BurstDebugInformation_DoNotShip/
temp
Plugins/
